.navbar-nav{
    margin: auto;
    position: sticky;
}

/* .iphone14{
    background-image: url(pics/iPhone14fekete.png);
    font-weight: bold;
}

.iphone14 a{
    font-size: 1.5rem;
    font-weight: 400;
    color: rgb(32, 132, 190);
    text-decoration: none;
}

.iphone14 a:hover{
    text-decoration: underline;
    cursor: pointer;
} */

.text-center{
    text-align: center;
}

.colorw{
    color: white;
}

.colorb{
    color: black;
}

.pb-l{
    padding-bottom: 450px;
}

h1{
    font-size: 3.5rem;
}

.bg-body-dark{
    background-color: rgb(44, 44, 44);
}

a{
    font-size: 1.5rem;
    font-weight: 400;
    color: rgb(32, 132, 190);
    text-decoration: none;
}